/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
  /* Light grey background */
  color: #202124;
  /* Dark text color */
}

button {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.0892857em;
  /* Material spec */
  text-transform: uppercase;
  color: #ffffff;
  /* Material primary blue */
  background-color: #007cb6;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  min-width: 64px;
  height: 36px;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  color: #007cb6;
  background-color: rgba(26, 115, 232, 0.08);
}

button:focus-visible {
  color: #007cb6;
  background-color: rgba(26, 115, 232, 0.12);
}

button:active {
  color: #007cb6;
  background-color: rgba(26, 115, 232, 0.16);
}
